body {
    color: #6e6464;
}
h1 {
    font-size: 40px;
    font-family: 'Kumbh Sans', sans-serif;
    padding-left: 10%;
    text-align: left;
    
}
.table-elements {
    margin-top: 1px;
    padding-top: 1px;
    
}
header{
}

.container {
    display: flex;
    flex-direction: column;
    width: 600px;
    border: 10px solid #b3b6ba;
}

a{
    color: #6E6464;
}

.bgcolor {
}

